* {
  margin-top: 40px;
}

.main-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 80px;
}
