.main-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 80px;
  width: 100%;
  height: 200px;
  align-items: right;
  background: linear-gradient(110deg, #bff2e7 60%, #1a5447 60%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.623);
  display: flex;
  align-items: center;
  justify-content: center;
}
