img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.623);
  height: 200px;
  width: 200px;
  border-radius: 30px;
}
img:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.623);
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.coffee-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
