* {
  margin-bottom: 30px;
}

div.container {
  border: 1px solid;
  border-radius: 10px;
  height: 25vh;
  padding: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cartTotal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
