<div class="container">
  <div class="columns">
    <div class="column">
      <h3>{{ selectedCoffee.drink }}</h3>
      <br />
      <h6>{{ selectedCoffee.price | currency }}</h6>
      <form (ngSubmit)="submitModalForm()">
        <label for="size">Size</label>
        <br />
        <input class="input" type="select" />
        <br />
        <label for="flavor">Flavor</label>
        <input class="input" type="select" />
        <br />
        <div class="control">
          <label class="radio">
            <input type="radio" name="hot" />
            Hot
          </label>
          <label class="radio">
            <input type="radio" name="hot" />
            Iced
          </label>
        </div>
      </form>
    </div>
    <div class="column">
      <img [src]="selectedCoffee.image" alt="drink" />
    </div>
  </div>
</div>
